body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #0f172a;
    color: white;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #38bdf8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}

